// ABOUT ME SECTION
.about-me{
    width: 100vw;
    padding: 3% 0;
    background-color: darken($third-color, 20%);
    display: flex;
    margin: 0;
}

.about-me__box{
    background-color: $main-color;
    box-shadow: 0px 2px 25px 0px $main-color;
    border-radius: 20px;
    width: 90%;
    margin: auto 10%;
    padding: 50px;
    color: $main-color;
    h2{
        margin: 0;
        padding: 10px 0 20px 10px;
        text-align: left;
    }
}

.about-me__text{
    background-color: $second-color;
    font-family: $main-font;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.75);
    p{
        margin-left: 30px;
        margin-right: 90px;
    }
}