// ANIMATIONS
@keyframes consoleBlink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes linkUp{
    0%{
        text-shadow: 2px 1px 11px;
    }
    100%{
        text-shadow: -2px -1px 0px;
    }
}

@keyframes displayIn{
    0%{
        opacity: 1;
        transform: scaleX(0.2);
    }
    25%{
        transform: scaleX(1);
    }
    75%{
        transform: scaleX(0.2);
    }
    100%{
        transform: scaleX(1);
    }
}


