// BASE CSS
body{
    font-family: $main-font;
    margin: 0;
    padding: 0;
    color: $second-color;
    overflow-x: hidden;
}

main{
    width: 100%;
    z-index: 1;
    margin: 0;
}

footer{
    width: 100%;
    height: 20vh;
    margin-top: 7%;
    z-index: 1;
    color: $main-color;
}