.jumbotron{
    height: 100%;
    background-color: $main-color;

}

.jumbotron__console-window{
    display: none;
    background-color: $second-color;
    box-sizing: border-box;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: auto;
}