.projects{
    background-color: $main-color;
    margin-bottom: 150px;
    padding-bottom: 50px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    h2{
        margin: 0;
        margin-bottom: 120px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    svg{
        position: absolute;
        bottom: 0;
        z-index: 0;
        transform: rotate(180deg);
        width: 100%;
    }
}

.projects__projectBox{
    width: 33%;
    border: 3px solid $second-color;
    border-radius: 10px;
    box-shadow: -1px 1px 15px $second-color;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    margin: 20px 10px;
    text-align: center;
    z-index: 1;
    transition: .3s ease;
    &:hover{
        border-color: $third-color;
        animation:  borderLight .8s ease-in infinite alternate;
    }
}

.projects__projectBox__title{
    font-size: $fontSizeB;
    width: 200px;
    margin: 10px auto 80px auto;
}


.projects__projectBox__content{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    font-size: $fontSizeM*1.2;
}

.projects__projectBox__button{
    color: $main-color;
    text-decoration: none;
    background-color: $second-color;
    padding: 8px;
    margin: auto 7px;
    border: 2px solid $main-color;
    transition: 0.2s ease-in;
    border-radius: 5px;
    &:hover{
        color: $second-color;
        background-color: $main-color;
        border: 2px solid $second-color;
    }
}
.portfolio{
    background-image: url("/images/portfolio.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.tic_tac_toe{
    background-image: url("/images/tictactoe.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.exchange{
    background-image: url("/images/exchange.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.projects__projectBox__title, .projects__projectBox__content{
    background-color: $main-color;
}