//Margins, paddings
$marginB: 20px;
$marginM: 10px;
$marginS: 5px;

$paddingB: 20px;
$paddingM: 10px;
$paddingS:  5px;

//Colors
$main-color: black;
$second-color: white;
$third-color: grey;

//Fonts
$main-font: 'Montserrat', sans-serif;